.detail_background{ 
    /*background: url(../images/sample_header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
}

.logout-user{ 
	top: 85px !important;
	margin-left: -25px !important;
}