.user-logged-in {
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.toolbar-box-shadow {
    color: gray;
    box-shadow: 1px 3px 1px #888888;
}

.update-icon {
    background-image: url(./update_icon.png);
}

.border-warning .x-form-trigger-wrap-default {
    border-color: red;
}

.x-form-required-field>span:after {
    color: red;
    content: ' *';
    font-weight: bold;
}


/*
    action button for widget column
*/

.x-action-col-icon {
    margin-left: 3px;
}

.action-icon {
    margin: 0px 4px 0px 4px;
}


/*.action-button-start, .action-button-start :hover {
    border-radius: 5px 0px 0px 5px !important;
}
.action-button-end, .action-button-end :hover {
    border-radius: 0px 5px 5px 0px !important; 
}*/


/*.action-button-solo, .action-button-solo :hover {
    border-radius: 5px !important; 
}*/

.action-button-solo,
.action-button-start,
.action-button-end {
    background-color: #1d86e2;
}

.action-button-icon {
    /*background-image: './resources/edit.ico' !important;*/
    background-repeat: no-repeat !important;
    background-size: contain;
}

.action-button-solo :hover,
.action-button-start :hover,
.action-button-end :hover {
    background-color: #0f4371;
    cursor: pointer;
}

.action-button .x-grid-widgetcolumn-cell-inner {
    padding: 3px 3px 3px 3px !important;
    align-content: center;
}

.disable-action-button {
    background-color: dimgrey;
}

.action-column {
    margin: 0px 4px 0px 4px;
}

.grid-approvalworkflowwindow {    
    font-size:10px !important;    
    color: darkorange;
}

.checkout-label {
    /*color: #ff5c0f;*/
    /*font-weight: bold;*/
    color: white;
    /*text-shadow: #000000 0px 1px 0px;*/
}

/*
corner locked red ribbon label start
*/

.ribbon-wrapper-red {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-red {
    font: bold 15px Sans-Serif;
    color: #000000;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #fd4044;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fd4044), to(#cf0a0f));
    background-image: -webkit-linear-gradient(top, #fd4044, #cf0a0f);
    background-image: -moz-linear-gradient(top, #fd4044, #cf0a0f);
    background-image: -ms-linear-gradient(top, #fd4044, #cf0a0f);
    background-image: -o-linear-gradient(top, #fd4044, #cf0a0f);
    color: #000000;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-red:before,
.ribbon-red:after {
    content: "";
    border-top: 3px solid #a40b0f;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-red:before {
    left: 0;
}

.ribbon-red:after {
    right: 0;
}


/*
corner locked red ribbon label end
*/


/*
corner unlocked green ribbon label start
*/

.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-green {
    font: bold 15px Sans-Serif;
    color: #000000;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #4afc41;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #4afc41), to(#00bf00));
    background-image: -webkit-linear-gradient(top, #4afc41, #00bf00);
    background-image: -moz-linear-gradient(top, #4afc41, #00bf00);
    background-image: -ms-linear-gradient(top, #4afc41, #00bf00);
    background-image: -o-linear-gradient(top, #4afc41, #00bf00);
    color: #000000;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-green:before,
.ribbon-green:after {
    content: "";
    border-top: 3px solid #069130;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}

.ribbon-green:after {
    right: 0;
}

.x-grid-row-summary .x-grid-cell {
    color: white;
    background-color: #1d86e2 !important;
}


/*
corner unlocked green ribbon label end
*/

/*
| ********************** START **************************
| Minerals Appraisal Form Validation Error Message Styles 
*/
.field-errors-list{
    padding-left: 0
}
.field-errors-list li {
    list-style: none;
}
.error-field{
    font-weight: bold;
    color: #135896;
}
.field-error{
    color: red;
}
.appraisalform-invalid-cont label,
.appraisalform-invalid-cont [data-ref="inputEl"]{
    color: red;
}
/*
| ********************** END ***************************
| Minerals Appraisal Form Validation Error Message Styles 
*/

/*
| ********************** START ***************************
| Grid Darker font style 
*/
.darker-grid .x-grid-item,
.darker-grid .x-grid-item-selected{
    /*font-weight: bold;*/
    color: #000;
}
/*
| ********************** END ***************************
| Grid Darker font style 
*/
/*
| ********************** START ***************************
| Error Details collapsible div 
*/
.error-win-cont {
    padding-bottom: 34px;
}
.error-win-cont input {
  display: none;
  visibility: hidden;
}
.error-win-cont label {
  display: block;
  padding: 0.5em;
  border-bottom: 1px solid #CCC;
  color: #666;
}
.error-win-cont label:hover {
  color: #000;
}
.error-win-cont label::before {
    position: relative;
    line-height: 20px;
    display: inline-block;
    font-weight: bold;
    content: "+";
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
.error-win-cont #expand {
  height: 0px;
  margin-bottom: 34px;
  overflow: hidden;
  transition: height 0.5s;
  color: #000;
}
.error-win-cont section {
  padding: 0 20px;
}
.error-win-cont #toggle:checked ~ #expand,
.error-win-cont #toggle-error:checked ~ #expand{
  height: 34px;
}
.error-win-cont #toggle:checked ~ label::before,
.error-win-cont #toggle-error:checked ~ label::before {
  content: "-";
}
/*
| ********************** END ***************************
| Error Details collapsible div 
*/