/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


.header_banner{ 
    background: url(../images/camapro-banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.strike-through-row .x-grid-cell {
    text-decoration: line-through;
}

.upload{
  background-image:url('../icons/upload.png') !important;
}

.add {
  background-image:url('../icons/add.png') !important;
}

.import {
  background-image:url('../icons/import.png') !important;
}

.refreshFilter {
  background-image:url('../icons/undo.png') !important;
}

.transfer{
  background-image:url('../icons/b_triggers.png') !important;
}

.addNote {
  background-image:url('../icons/note.png') !important;
}

.wrn {
  background-image:url('../icons/wrn.png') !important;
}
.delete {
  background-image:url('../icons/cancel.png') !important;
  background-repeat:no-repeat;
}
.save {
  background-image:url('../icons/b_save.png') !important;
}
.calc {
  background-image:url('../icons/calc.png') !important;
}
.export {
  background-image:url('../icons/export.png') !important;
}

.edit {
  background-image:url('../icons/pencil.png') !important;
}
.cancel {
  background-image:url('../icons/cancel.png') !important;
}
.pdf {
  background-image:url('../icons/pdf.png') !important;
}
.copy {
  background-image:url('../icons/copy.png') !important;
}
.crystal {
  background-image:url('../icons/crystal-reports.png') !important;
}
.addframe {
  background-image:url('../icons/frame.png') !important;
}
.frameadd {
  background-image:url('../icons/frameadd.png') !important;
}

.undo {
    background-image: url(../icons/undo.png);
}

.next {
    background-image: url(../icons/next.png);
}

.prev {
    background-image: url(../icons/prev.png);
}

.add_appraisal {
    background-image: url(../icons/add_appraisal.png);
}

.calculator {
    background-image: url(../icons/calculator.png);
}

.search {
    background-image: url(../icons/search.png);
}

.dirty-record .x-grid-cell {
    background-color: #FFB0C4;
    color:red;
}

.edited-record .x-grid-cell {
    background-color: #c1fcc1;
    color:green;
}

#image_selection {
    background-color: #fff;
    text-shadow: #fff 0 1px 0;
    position: relative;
    display: block;
    /*height: auto;*/
}

#image_selection div.img_list img {
    margin-bottom: 1px;
}

#image_selection div.img_list {
    float: left;
    padding: 8px 17px;
    margin: 5px;
/*    margin: 10px 0 0 25px;*/
    text-align: center;
    line-height: 14px;
    color: #333;
    font-size: 10px;
    font-family: "Helvetica Neue",sans-serif;
    height: 120px;
    width: 140px;
    overflow: hidden;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.x-ie6 #image_selection div.img_list,
.x-ie7 #image_selection div.img_list,
.x-ie8 #image_selection div.img_list {
    border-top: none;
    padding: 3px 2px;
    margin: 2px;
}

#image_selection div.img_list {
    background-color: #fff;
}

#image_selection div.img_list-hover {
    background-color: #eee;
}

#image_selection div.img_list strong {
    color: #000;
    display: block;
}

.x-boundlist-item img.chkCombo {
    background: transparent url(../icons/unchecked.gif);
}
.x-boundlist-selected img.chkCombo{
    background: transparent url(../icons/checked.gif);
}

.emailtext .x-form-trigger-wrap-default {
    border-style: none!important; 
}

.emailtext .x-form-text-wrap {
    border-radius: 5px!important;
}

.passtext .x-form-trigger-wrap-default {
    border-style: none!important; 
}

.passtext .x-form-text-wrap {
    border-radius: 5px!important;
}

.loginImgIcon {
    left: 35px!important;
    top: 9px!important;
}

.passtext {
    left: 80px!important;
}

.emailtext {
    left: 80px!important;
}



.x-tree-view, .x-tree-view table, .x-tree-panel .x-panel-body, .x-grid-tree-node-expanded, .x-grid-tree-node-leaf, .x-tree-view .x-grid-item, div [id^="westView"] {
	background-color: #32404e;
}
.x-grid-tree-node-expanded:hover, .x-grid-tree-node-leaf:hover, .x-tree-view .x-grid-item-over{
	background-color: #1f3a52;
}

.x-tree-view .x-grid-item-selected .x-grid-tree-node-leaf{
	background-color: #71bfea;
}

.x-tree-node-text{
		color: #FFFFFF;
}

.x-column-header-checkbox .x-column-header-checkbox:after, .x-grid-checkcolumn:after {
    color: #616161 !important;
}


.x-splitter{
    background-color: #1561a4 !important;
}

.headerForm input{
	/*min-height: 23px;*/
	padding: 0px 9px 3px;
	
}

.headerForm .x-btn{
	padding: 4px 7px 3px 7px;	
}

.header_fieldset{
    background: transparent !important;
    margin-top: -5px !important;  
    padding: 0px 0px 0px 4px ;
    border-color: white !important;
    border-top: 1px solid white !important;
}

.header_fieldset .x-fieldset-header-text{
    line-height: 0px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: white !important;
    border-color: white !important;
}

.header_fieldset .x-form-display-field-default, .header_fieldset .x-form-item-label-default {
    color: white !important;
}

div [id^="northView"] .x-form-item-label-text, 
div [id^="northView"] .x-form-display-field-default{
	color: #ffffff !important;
}

div [id^="northView"] .x-form-item-body-default, div [id^="northView"] .x-form-item-label-default{
	min-height: 16px !important;
}

.homeImage:hover{cursor: pointer; cursor: hand;}
