$ui-navigation-treelist-background-color: dynamic(null);
$ui-navigation-treelist-padding: dynamic(null);
$ui-navigation-treelist-row-indicator-width: dynamic(null);
$ui-navigation-treelist-item-text-color: dynamic(null);
$ui-navigation-treelist-item-text-font-size: dynamic(null);
$ui-navigation-treelist-item-icon-color: dynamic(null);
$ui-navigation-treelist-item-icon-font-size: dynamic(null);
$ui-navigation-treelist-item-icon-width: dynamic(null);
$ui-navigation-treelist-item-text-icon-gap: dynamic(null);
$ui-navigation-treelist-item-line-height: dynamic(null);
$ui-navigation-treelist-item-expander-color: dynamic(null);
$ui-navigation-treelist-item-expander-font-size: dynamic(null);
$ui-navigation-treelist-item-expander-width: dynamic(null);
$ui-navigation-treelist-item-expander-over-color: dynamic(null);
$ui-navigation-treelist-item-icon-over-color: dynamic(null);
$ui-navigation-treelist-item-text-over-color: dynamic(null);
$ui-navigation-treelist-row-indicator-over-color: dynamic(null);
$ui-navigation-treelist-row-over-background-color: dynamic(null);
$ui-navigation-treelist-row-selected-over-background-color: dynamic(null);
$ui-navigation-treelist-row-indicator-selected-color: dynamic(null);
$ui-navigation-treelist-row-selected-background-color: dynamic(null);
$ui-navigation-treelist-item-expanded-background-color: dynamic(null);
$ui-navigation-treelist-item-expanded-child-background-color: dynamic(null);
$ui-navigation-treelist-tool-indicator-selected-color: dynamic(null);
$ui-navigation-treelist-tool-indicator-selected-width: dynamic(null);
$ui-navigation-treelist-toolstrip-background-color: dynamic(null);
$ui-navigation-treelist-tool-selected-background-color: dynamic(null);
$ui-navigation-treelist-tool-selected-color: dynamic(null);
$ui-navigation-button-default-background-color: dynamic(null);
$ui-navigation-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-navigation-button-default-border-color: dynamic(null);
$ui-navigation-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-navigation-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-navigation-button-default-inner-border-color: dynamic(null);
$ui-navigation-button-default-inner-border-width: dynamic(null);
$ui-navigation-button-default-color: dynamic(null);
$ui-navigation-button-small-border-width: dynamic($button-small-border-width);
$ui-navigation-button-small-border-radius: dynamic($button-small-border-radius);
$ui-navigation-button-small-padding: dynamic($button-small-padding);
$ui-navigation-button-small-font-family: dynamic(null);
$ui-navigation-button-small-font-size: dynamic(null);
$ui-navigation-button-small-font-weight: dynamic(null);
$ui-navigation-button-small-text-padding: dynamic($button-small-text-padding);
$ui-navigation-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-navigation-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-navigation-button-small-icon-size: dynamic($button-small-icon-size);
$ui-navigation-button-small-line-height: dynamic($button-small-line-height);
$ui-navigation-button-medium-border-width: dynamic($button-medium-border-width);
$ui-navigation-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-navigation-button-medium-padding: dynamic($button-medium-padding);
$ui-navigation-button-medium-font-family: dynamic(null);
$ui-navigation-button-medium-font-size: dynamic(null);
$ui-navigation-button-medium-font-weight: dynamic(null);
$ui-navigation-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-navigation-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-navigation-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-navigation-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-navigation-button-medium-line-height: dynamic($button-medium-line-height);
$ui-navigation-button-large-border-width: dynamic($button-large-border-width);
$ui-navigation-button-large-border-radius: dynamic($button-large-border-radius);
$ui-navigation-button-large-padding: dynamic($button-large-padding);
$ui-navigation-button-large-font-family: dynamic(null);
$ui-navigation-button-large-font-size: dynamic(null);
$ui-navigation-button-large-font-weight: dynamic(null);
$ui-navigation-button-large-text-padding: dynamic($button-large-text-padding);
$ui-navigation-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-navigation-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-navigation-button-large-icon-size: dynamic($button-large-icon-size);
$ui-navigation-button-large-line-height: dynamic($button-large-line-height);
$ui-navigation-button-default-background-color-disabled: dynamic(null);
$ui-navigation-button-default-border-color-disabled: dynamic(null);
$ui-navigation-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-navigation-button-default-inner-border-color-disabled: dynamic(null);
$ui-navigation-button-default-inner-border-width-disabled: dynamic(null);
$ui-navigation-button-default-background-color-focus: dynamic(null);
$ui-navigation-button-default-border-color-focus: dynamic(null);
$ui-navigation-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-navigation-button-default-inner-border-color-focus: dynamic(null);
$ui-navigation-button-default-inner-border-width-focus: dynamic(null);
$ui-navigation-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-navigation-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-navigation-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-navigation-button-default-background-color-focus-over: dynamic(null);
$ui-navigation-button-default-border-color-focus-over: dynamic(null);
$ui-navigation-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-navigation-button-default-inner-border-color-focus-over: dynamic(null);
$ui-navigation-button-default-inner-border-width-focus-over: dynamic(null);
$ui-navigation-button-default-background-color-focus-pressed: dynamic(null);
$ui-navigation-button-default-border-color-focus-pressed: dynamic(null);
$ui-navigation-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-navigation-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-navigation-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-navigation-button-default-background-color-over: dynamic(null);
$ui-navigation-button-default-border-color-over: dynamic(null);
$ui-navigation-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-navigation-button-default-inner-border-color-over: dynamic(null);
$ui-navigation-button-default-inner-border-width-over: dynamic(null);
$ui-alternative-button-default-background-color: dynamic(null);
$ui-alternative-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-alternative-button-default-border-color: dynamic(null);
$ui-alternative-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-alternative-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-alternative-button-default-inner-border-color: dynamic(null);
$ui-alternative-button-default-inner-border-width: dynamic(null);
$ui-alternative-button-default-color: dynamic(null);
$ui-alternative-button-small-border-width: dynamic($button-small-border-width);
$ui-alternative-button-small-border-radius: dynamic($button-small-border-radius);
$ui-alternative-button-small-padding: dynamic($button-small-padding);
$ui-alternative-button-small-font-family: dynamic(null);
$ui-alternative-button-small-font-size: dynamic(null);
$ui-alternative-button-small-font-weight: dynamic(null);
$ui-alternative-button-small-text-padding: dynamic($button-small-text-padding);
$ui-alternative-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-alternative-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-alternative-button-small-icon-size: dynamic($button-small-icon-size);
$ui-alternative-button-small-line-height: dynamic($button-small-line-height);
$ui-alternative-button-medium-border-width: dynamic($button-medium-border-width);
$ui-alternative-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-alternative-button-medium-padding: dynamic($button-medium-padding);
$ui-alternative-button-medium-font-family: dynamic(null);
$ui-alternative-button-medium-font-size: dynamic(null);
$ui-alternative-button-medium-font-weight: dynamic(null);
$ui-alternative-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-alternative-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-alternative-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-alternative-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-alternative-button-medium-line-height: dynamic($button-medium-line-height);
$ui-alternative-button-large-border-width: dynamic($button-large-border-width);
$ui-alternative-button-large-border-radius: dynamic($button-large-border-radius);
$ui-alternative-button-large-padding: dynamic($button-large-padding);
$ui-alternative-button-large-font-family: dynamic(null);
$ui-alternative-button-large-font-size: dynamic(null);
$ui-alternative-button-large-font-weight: dynamic(null);
$ui-alternative-button-large-text-padding: dynamic($button-large-text-padding);
$ui-alternative-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-alternative-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-alternative-button-large-icon-size: dynamic($button-large-icon-size);
$ui-alternative-button-large-line-height: dynamic($button-large-line-height);
$ui-alternative-button-default-background-color-disabled: dynamic(null);
$ui-alternative-button-default-border-color-disabled: dynamic(null);
$ui-alternative-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-alternative-button-default-inner-border-color-disabled: dynamic(null);
$ui-alternative-button-default-inner-border-width-disabled: dynamic(null);
$ui-alternative-button-default-background-color-focus: dynamic(null);
$ui-alternative-button-default-border-color-focus: dynamic(null);
$ui-alternative-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-alternative-button-default-inner-border-color-focus: dynamic(null);
$ui-alternative-button-default-inner-border-width-focus: dynamic(null);
$ui-alternative-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-alternative-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-alternative-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-alternative-button-default-background-color-focus-over: dynamic(null);
$ui-alternative-button-default-border-color-focus-over: dynamic(null);
$ui-alternative-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-alternative-button-default-inner-border-color-focus-over: dynamic(null);
$ui-alternative-button-default-inner-border-width-focus-over: dynamic(null);
$ui-alternative-button-default-background-color-focus-pressed: dynamic(null);
$ui-alternative-button-default-border-color-focus-pressed: dynamic(null);
$ui-alternative-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-alternative-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-alternative-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-alternative-button-default-background-color-over: dynamic(null);
$ui-alternative-button-default-border-color-over: dynamic(null);
$ui-alternative-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-alternative-button-default-inner-border-color-over: dynamic(null);
$ui-alternative-button-default-inner-border-width-over: dynamic(null);
$ui-navigation-toolbar-background-color: dynamic($toolbar-background-color);
$ui-navigation-toolbar-background-gradient: dynamic($toolbar-background-gradient);
$ui-navigation-toolbar-vertical-spacing: dynamic($toolbar-vertical-spacing);
$ui-navigation-toolbar-separator-color: dynamic($toolbar-separator-color);
$ui-navigation-toolbar-separator-horizontal-border-width: dynamic($toolbar-separator-horizontal-border-width);
$ui-navigation-toolbar-separator-horizontal-border-style: dynamic($toolbar-separator-horizontal-border-style);
$ui-navigation-toolbar-separator-horizontal-height: dynamic($toolbar-separator-horizontal-height);
$ui-navigation-toolbar-separator-vertical-border-width: dynamic($toolbar-separator-vertical-border-width);
$ui-navigation-toolbar-separator-vertical-border-style: dynamic($toolbar-separator-vertical-border-style);
$ui-navigation-toolbar-text-font-family: dynamic($toolbar-text-font-family);
$ui-navigation-toolbar-text-font-size: dynamic($toolbar-text-font-size);
$ui-navigation-toolbar-text-font-weight: dynamic($toolbar-text-font-weight);
$ui-navigation-toolbar-text-color: dynamic($toolbar-text-color);
$ui-navigation-toolbar-text-line-height: dynamic($toolbar-text-line-height);
$ui-navigation-toolbar-text-padding: dynamic($toolbar-text-padding);
$ui-navigation-button-toolbar-background-color: dynamic(null);
$ui-navigation-button-toolbar-background-gradient: dynamic($button-toolbar-background-gradient);
$ui-navigation-button-toolbar-color: dynamic(null);
$ui-navigation-button-toolbar-arrow-glyph-color: dynamic($button-toolbar-arrow-glyph-color);
$ui-navigation-button-toolbar-glyph-color: dynamic($button-toolbar-glyph-color);
$ui-navigation-button-toolbar-inner-border-color: dynamic(null);
$ui-navigation-button-toolbar-inner-border-width: dynamic(null);
$ui-navigation-button-toolbar-border-color: dynamic(null);
$ui-navigation-button-toolbar-background-color-over: dynamic(null);
$ui-navigation-button-toolbar-background-gradient-over: dynamic($button-toolbar-background-gradient-over);
$ui-navigation-button-toolbar-border-color-over: dynamic(null);
$ui-navigation-button-toolbar-color-over: dynamic(null);
$ui-navigation-button-toolbar-inner-border-color-over: dynamic(null);
$ui-navigation-button-toolbar-inner-border-width-over: dynamic(null);
$ui-navigation-button-toolbar-background-color-pressed: dynamic(null);
$ui-navigation-button-toolbar-background-gradient-pressed: dynamic($button-toolbar-background-gradient-pressed);
$ui-navigation-button-toolbar-border-color-pressed: dynamic(null);
$ui-navigation-button-toolbar-color-pressed: dynamic(null);
$ui-navigation-button-toolbar-inner-border-color-pressed: dynamic(null);
$ui-navigation-button-toolbar-inner-border-width-pressed: dynamic(null);
$ui-navigation-button-toolbar-background-color-disabled: dynamic(null);
$ui-navigation-button-toolbar-background-gradient-disabled: dynamic($button-toolbar-background-gradient-disabled);
$ui-navigation-button-toolbar-border-color-disabled: dynamic(null);
$ui-navigation-button-toolbar-color-disabled: dynamic(null);
$ui-navigation-button-toolbar-inner-border-color-disabled: dynamic(null);
$ui-navigation-button-toolbar-inner-border-width-disabled: dynamic(null);
$ui-navigation-button-toolbar-background-color-focus: dynamic(null);
$ui-navigation-button-toolbar-background-gradient-focus: dynamic($button-toolbar-background-gradient-focus);
$ui-navigation-button-toolbar-body-outline-color-focus: dynamic($button-toolbar-body-outline-color-focus);
$ui-navigation-button-toolbar-body-outline-width-focus: dynamic($button-toolbar-body-outline-width-focus);
$ui-navigation-button-toolbar-body-outline-style-focus: dynamic($button-toolbar-body-outline-style-focus);
$ui-navigation-button-toolbar-border-color-focus: dynamic(null);
$ui-navigation-button-toolbar-color-focus: dynamic(null);
$ui-navigation-button-toolbar-inner-border-color-focus: dynamic(null);
$ui-navigation-button-toolbar-inner-border-width-focus: dynamic(null);
$ui-navigation-button-toolbar-background-color-focus-over: dynamic(null);
$ui-navigation-button-toolbar-background-gradient-focus-over: dynamic($button-toolbar-background-gradient-focus-over);
$ui-navigation-button-toolbar-border-color-focus-over: dynamic(null);
$ui-navigation-button-toolbar-color-focus-over: dynamic(null);
$ui-navigation-button-toolbar-inner-border-color-focus-over: dynamic(null);
$ui-navigation-button-toolbar-inner-border-width-focus-over: dynamic(null);
$ui-navigation-button-toolbar-background-color-focus-pressed: dynamic(null);
$ui-navigation-button-toolbar-background-gradient-focus-pressed: dynamic($button-toolbar-background-gradient-focus-pressed);
$ui-navigation-button-toolbar-border-color-focus-pressed: dynamic(null);
$ui-navigation-button-toolbar-color-focus-pressed: dynamic(null);
$ui-navigation-button-toolbar-inner-border-color-focus-pressed: dynamic(null);
$ui-navigation-button-toolbar-inner-border-width-focus-pressed: dynamic(null);
$ui-nav-panel-panel-header-background-color: dynamic($panel-header-background-color);
$ui-nav-panel-panel-header-background-gradient: dynamic($panel-header-background-gradient);
$ui-nav-panel-panel-header-border-style: dynamic($panel-header-border-style);
$ui-nav-panel-panel-header-glyph-color: dynamic($panel-header-glyph-color);
$ui-nav-panel-panel-header-icon-width: dynamic($panel-header-icon-width);
$ui-nav-panel-panel-header-icon-height: dynamic($panel-header-icon-height);
$ui-nav-panel-panel-header-icon-spacing: dynamic($panel-header-icon-spacing);
$ui-nav-panel-panel-header-inner-border-color: dynamic($panel-header-inner-border-color);
$ui-nav-panel-panel-header-inner-border-width: dynamic($panel-header-inner-border-width);
$ui-nav-panel-panel-header-padding: dynamic($panel-header-padding);
$ui-nav-panel-panel-header-line-height: dynamic($panel-header-line-height);
$ui-nav-panel-panel-header-color: dynamic($panel-header-color);
$ui-nav-panel-panel-header-font-family: dynamic($panel-header-font-family);
$ui-nav-panel-panel-header-font-size: dynamic($panel-header-font-size);
$ui-nav-panel-panel-header-font-weight: dynamic($panel-header-font-weight);
$ui-nav-panel-panel-header-text-padding: dynamic($panel-header-text-padding);
$ui-nav-panel-panel-body-background-color: dynamic($panel-body-background-color);
$ui-nav-panel-panel-body-border-style: dynamic($panel-body-border-style);
$ui-nav-panel-panel-body-color: dynamic($panel-body-color);
$ui-nav-panel-panel-body-font-size: dynamic($panel-body-font-size);
$ui-nav-panel-panel-body-font-weight: dynamic($panel-body-font-weight);
$ui-nav-panel-tool-glyph-color: dynamic($tool-glyph-color);
$ui-nav-panel-panel-tool-spacing: dynamic($panel-tool-spacing);