html {
    font-size: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow-x: hidden;
    max-width: 100%;
}

@font-face {
    font-family: 'canterburyregular';
    src: url('fonts/canterbury-webfont.woff2') format('woff2'),
         url('fonts/canterbury-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'canterburyregular'!important;
}

.logo {
  width: 100px;
}

.dltop dt {
  text-align: left!important;
}

.dltopempty dt {
  text-align: left!important;
}

.botp {
  text-align: right!important;
}

.line {
  border-top: 2px solid black;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.line1 {
  border-bottom: 2px solid black;
  width: 200px;
  text-align: center;
}

.line2 {
  border-bottom: 2px solid black;
  padding-left: 25px;
    padding-right: 25px;
  text-align: center;
}

.line3 {
  border-bottom: 2px solid black;
  padding-left: 68px;
    padding-right: 68px;
  text-align: center;
}

.linex {
  border-bottom: 2px solid black;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}

hr{
  visibility: hidden;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.line4 p {
  /*font-size: 12px;*/
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
}

.line4 p:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid black;
  width:100%;   
    height:1em;
    display: inline;
    margin-left: 1em;
}

.line5 p {
  border-bottom: 2px solid black;
  margin-bottom: 25px;
}

.half {
  border: 1px dashed black;
}


/*Media Query*/

@media (max-width: 1199px) {
  .line3 {
    padding-left: 42.5px!important;
      padding-right: 42.5px!important;
  }
  .linex {
    padding-left: 45px;
      padding-right: 45px;
  }
}

@media (max-width: 991px) {
  .dl-horizontal dt {
    width: 130px!important;
  }
  .dl-horizontal dd {
    margin-left: 133px!important;
  }
  .line {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .line3 {
    padding-left: 47px;
      padding-right: 47px;
  }
  .tablefont {
    font-size: smaller;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 29px!important;
    margin-top: 0px!important;
  }
  .row {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .dl-horizontal dd {
    /*margin-left: 133px!important;*/
    margin-left: 150px!important;
  }
  .line {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .line1 {
    text-align: center;
  }
  .linex {
    padding-left: 110px!important;
    padding-right: 110px!important;
  }
  .topdt dt {
    margin-bottom: -68px;
    margin-top: 20px;
    text-align: right;
  }
  .txt p {
    padding-left: 20px;
  }
  .dl-horizontal dt {
    /*width: 132px!important;*/
    width: 142px!important;
  }
  dl {
    margin-bottom: 7px!important;
  }
  .dltop dd {
    margin-left: 150px;
    margin-top: -20px;
  }
  .text-center p{
    margin: 0 0 3px!important;
  }
  .sc{
    margin-bottom: 20px!important;
  }
  .table {
    margin-bottom: 0px!important;
  }
  .tablefont {
    /*font-size: smaller;*/
    font-size: x-small;
  }
}

@media (max-width: 420px) {
}